@page
@using JLCS.SB.CapaEntidad;
@using JLCS.SB.CapaNegocio;
@model PrestamoLibroEntidad
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>HISTORIAL DE PRESTAMOS</h1>

    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nombre prestamista" />
            <button type="button" class="btn btn-primary">VER DETALLES</button>
        </div>
    </form>
</body>