@page

@model IndexModel
@using System.Globalization;
@{
    ViewData["Title"] = "Sistema de Información Bibliotecario";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/estilo.css" />
}
<body>
    <script src="~/js/Visitas.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <div id="miDiv">
        <div id="miDivCursor">
            <center>
                <a title="Contador De Visitas Gratis">
                    <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=306851">
                </a><br>
            </center>
            <p>Contador de visitas</p>
        </div>
    </div>

    <div class="text-center">
        <h1 Class="title1 text-center text-primary font-weight-bold">Ubicacion Biblioteca UNAS</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>

    <div class="text-center">
        <h1 Class="title1 text-center text-primary font-weight-bold">@Localizer.Text("Welcome")</h1>
    </div>
    <div class="text-right">
        <div id="map"></div>
        <script src="~/js/script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=inicioMapa" integrity="sha256-" align="right"></script>
        <strong><em class="titulo_cabecera_usuarios text-xl-center">Current culture : @CultureInfo.CurrentCulture.DisplayName (@CultureInfo.CurrentCulture.NativeName)</em></strong>
        <p></p>
        <strong><em class="titulo_cabecera_usuarios text-xl-center">Current date : @DateTime.Now</em></strong>
    </div>
</body>